<template>
  <div class="home">
    <router-link to="/register">Register</router-link> |
    <router-link to="/login">Login</router-link>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  components: {
  }
}
</script>
