<template>
  <div class="products">
      <Products/>
  </div>
</template>

<script>

import Products from '@/components/Products.vue'
export default {
    name: 'Products_view',
    components: {
        Products
    }
}
</script>