<template>
  <div>
      <h1>This is products page!</h1>
  </div>
</template>

<script>
// const axios = require('axios');
export default {
    name: 'Products',
    data() {
        return {
            products : [],
        };
    },
    mounted : function(){
        // get Products with axios from adonis. (remember the auth tokens!).
    }
}
</script>

<style>

</style>